html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
body {
	background-color: rgb(199, 197, 197);
	background-image: -moz-radial-gradient(50% 50%, circle, rgb(255, 255, 255) 0%, rgb(199, 197, 197) 100%);
	background-image: -webkit-radial-gradient(50% 50%, circle, rgb(255, 255, 255) 0%, rgb(199, 197, 197) 100%);
	background-image: -o-radial-gradient(50% 50%, circle, rgb(255, 255, 255) 0%, rgb(199, 197, 197) 100%);
	background-image: -ms-radial-gradient(50% 50%, circle, rgb(255, 255, 255) 0%, rgb(199, 197, 197) 100%);
	background-image: radial-gradient(50% 50%, circle, rgb(255, 255, 255) 0%, rgb(199, 197, 197) 100%);
    background-repeat: no-repeat;
	background-attachment: fixed;
}
#header {
    display: block;
    position: relative;
    width: 1024px;
    margin: 0px auto;
    border-style: solid;
    border-width: 0px 1px;
    border-image-source: none;
    border-color: rgb(56, 56, 56);
    left: 0px;
    top: 0px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.247059);
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left:0px;
    padding-right:0px;
    overflow:hidden;
}
#header div p,
#header div p {
    font-family: 'Roboto Condensed';
    font-weight: normal;
    font-size: 23px;
}

#header div h1 {
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.bar {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
    margin: 0px;
    z-index: 100;
    background-image: none;
    background-color: rgb(42, 42, 42);
}
.barLinks
{
	color: white;
    position: absolute;
	text-align:center;
    margin-top: 4px;
    margin-bottom: auto;
	width: 100%;
	height: 20px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 19px;
    color: rgb(255, 102, 0);
}

.barLinks a:link,
.barLinks a:visited,
.barLinks a:hover,
.barLinks a:active
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
	margin-left: 30px;
	margin-right: 30px;
}

.barLinks span
{
	margin-left: 30px;
	margin-right: 30px;
}
    
.barLinks a:hover,
.barLinks a:active
{
    text-decoration: none;
}
    


.title {
    position: absolute;
    width: 200px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 24px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    border-color: rgb(0, 0, 0);
    opacity: 1;
    border-image-source: none;
    color: rgb(255, 255, 255);
    top: 0px;
    left: 0px;
    text-align: left;
}

#content {
    display: block;
    position: relative;
    width: 1024px;
    margin: 0px auto;
    border-style: solid;
    border-width: 0px 1px;
    border-image-source: none;
    border-color: rgb(56, 56, 56);
    left: 0px;
    top: 0px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.247059);
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left:0px;
    padding-right:0px;
    overflow:hidden;
}

#content2 {
    display: block;
    position: relative;
    width: 1024px;
    margin: 0px auto;
    border-style: solid;
    border-width: 0px 1px;
    border-image-source: none;
    border-color: rgb(56, 56, 56);
    left: 0px;
    top: 0px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.247059);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:0px;
    padding-right:0px;
    overflow:hidden;
}

#content .group .example {
    width: 400px;
    height: 400px;
    padding: 0px;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}
.group {
    padding-top: 60px;
    padding-bottom: 10px;
    clear: both;
    height:400px;
    page-break-inside: avoid;
}
      
#content .group:nth-child(odd)  { text-align:left }
#content .group:nth-child(even) { text-align:right }
      
#content .group:nth-child(odd)  .example { float:left  }
#content .group:nth-child(even) .example { float:right }
      
.topLink
{
    text-align: center;
    font-family: Oswald;
    font-size: 20px;

    border-style: solid;
    border-color: #555;
    border-width: 1px;
    border-radius: 7px;
    margin: 0px;
    margin-bottom: 8px;
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.topLink:hover
{
    border-color: white;
}

.topLink a:link,
.topLink a:visited,
.topLink a:hover,
.topLink a:active
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}
    
.topLink a:hover,
.topLink a:active
{
    text-decoration: none;
}
    

#content div p,
#content div p {
    font-family: 'Roboto Condensed';
    font-weight: normal;
    font-size: 23px;
}

#content2 div p,
#content2 div p {
    font-family: 'Roboto Condensed';
    font-weight: normal;
    font-size: 18px;
}

#content div h1 {
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

#content2 div .leftalign
{
	padding-bottom:0px;
	padding-top:0px;
}
#content2 div h1 {
	padding-left:20px;
	padding-bottom:10px;
	padding-top:50px;
}
#content2 div h1 {
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

#content .group:nth-child(even) div h1 {
    margin-bottom: 10px;
    margin-top: 60px;
}
      
#content .group:nth-child(odd)  div h1 {
    margin-bottom: 10px;
    margin-top: 60px;
}
      
.videoHeader {
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-weight: bold;
    font-size: 30px;

    text-align: center;
    text-transform: uppercase;
    position:relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 600px;
    overflow:hidden;
}

.videoHeader div {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#content .group:nth-child(even) div p,
#content .group:nth-child(odd)  div p {
    padding:0px;
    margin:0px;
    margin-top: 20px;
    font-family: 'Roboto Condensed';
    font-weight: normal;
    font-size: 23px;
}

#video {
	width: 100%;
    z-index: -1;
    height: 600px;
    overflow: hidden;
}

.overlay {
	background: -moz-linear-gradient(top, rgba(178,178,178,1) 0%, rgba(178,178,178,1) 1%, rgba(178,178,178,0) 15%, rgba(178,178,178,0) 75%, rgba(178,178,178,1) 98%, rgba(178,178,178,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(178,178,178,1) 1%,rgba(178,178,178,0) 15%,rgba(178,178,178,0) 75%,rgba(178,178,178,1) 98%,rgba(178,178,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(178,178,178,1) 0%,rgba(178,178,178,1) 1%,rgba(178,178,178,0) 15%,rgba(178,178,178,0) 75%,rgba(178,178,178,1) 98%,rgba(178,178,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */

    height: 600px;
    overflow:hidden;
}

.overlayText
{
    margin-top:440px;
	padding-bottom:10px;
	background: rgba(0,0,0,0.5);
}

.large
{
    font-size: 60px;
}

.unity-logo
{
    padding: 0px;
    margin:0px;
    vertical-align:middle;
    padding-bottom:6px;
    padding-left:6px;
	width:169px;
    height:62px;
	background-image: url(assets/unity-logo-white-small.png);
	background-size: 169px 62px;
	background-repeat: no-repeat;
	overflow: visible;
	display: inline-block;
}

#tutorial_snapping
{ 
	vertical-align: top;
	display: inline-block; 
}

#tutorial_grid_local
{ 
	vertical-align: top;
	display: inline-block; 
	padding-top:2px;
}

.csg-logo-tiny
{
    vertical-align:middle;
    padding-bottom:3px;
}

.csg-logo-large
{
    vertical-align:middle;
    padding-bottom:7px;
    padding-right:6px;
	background-image: url(assets/logo3_72.png);
	background-position: 0px 0px;
	background-size: 72px 72px;
	background-repeat: no-repeat;
	overflow: visible;
	display: inline-block;
	width: 72px;
	height: 72px;
}

.real-time {
    position: relative;
    display: inline;
    color: rgb(255, 102, 0);
    text-transform: lowercase;
}
.CSG-small {
    position: relative;
    top: 1px;
}
.CSG {
    position: relative;
    top: 4px;
}


.contacts {
    position: absolute;
    width: 300px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    opacity: 1;
    top: 1px;
    right: 5px;

    text-align: right;
    vertical-align:middle;
    padding-bottom: 3px;
}

.twitter {
	padding-right: 10px;
}

.email {
	position:relative;
	top: 2px;
	padding-right: 10px;
}

.option
{
	color:blue;
	display: inline-block;
	width: 80px;
}


#content2 div .leftalign
div .leftalign,
.leftalign
{
     display:inline-block;
     text-align:left;   
     margin: 0px;
     padding: 0px;
    page-break-inside: avoid;
}

.emphasis
{
    color: white;
}

.center
{
     text-align:center;
}

.clear { clear:both; }

  @media all {
    .pagebreak { display: none; }
  }
  @media print {
    img { page-break-inside:avoid;}
    .pagebreak { display: block; page-break-after: always; }
    #video,
    #video iframe,
    .bar { display: none; height: 0px; visibility: hidden; }
    .overlay
    {
      background: none;
      filter: unset;
      overflow: visible;
    }
    .overlayText 
	{ 
  	  margin-top:0px; 
	  background: none; 
	  color: black;
	}
	.real-time 
	{
	  color: black;
	}
    .overlay,
    .videoHeader
    {
      height: 200px;
    }
    #header,
    #content,
    #content2
    {
      padding-top:0px;
      border-style: none;
      background: none;
    }
    #header div h1,
    #content div h1,
    #content2 div h1
    {
       color: black;
       font-weight: normal;
    }
    body
    {  
      background-color: white;
      background-image: none;
    }
	
	.unity-logo
	{
		background-image: url(assets/unity-logo-black-small.png);
	}

	.csg-logo-large
	{
		background-image: url(assets/logo3_72_black.png);
	}
    
    .emphasis
    {
        color: blue;
    }
  }
